/* Container principal que engloba todo o conteúdo */
.container {
  font-family: sans-serif;
  background: linear-gradient(to right, #001f3f, #003366, #005bb5);
  color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Conteúdo principal centrado */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;

    /* Layout flexível para ajustar o conteúdo */
    .layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 200px;
      align-items: center;
      max-width: 1200px;
      width: 100%;

      /* Seção da esquerda com o logo e informações */
      .left-section {
        height: 100%;
        display: flex;
        justify-content: center;

        .logo {
          width: 500px;
          margin: auto;
        }

        .heading {
          font-size: 24px;
          font-weight: bold;
          color: #ffffff;
        }
        /*nao possui conta*/
      }

      /* Formulário de login */
      .form {
        background-color: #130233;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;

        .form-title {
          font-size: 25px;
          font-weight: bold;
          font-weight: 700;
          margin-bottom: 10px;
          color: #ffffff;
          font-family: Arial, Helvetica, sans-serif;
        }
        .description {
          font-size: 14px;
          color: #ffffff;
          margin-top: 10px;
          margin-bottom: 20px;

          .register-link {
            color: #0056b3;
            font-weight: 600;
            text-decoration: underline;
            margin-left: 5px;
          }
        }

        .input-group {
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;

          label {
            color: #fff;
            text-align: left;
            margin-bottom: 5px;
          }

          .input {
            width: 100%;
            padding: 10px 15px;
            font-size: 14px;
            border: 1px solid #cccccc;
            border-radius: 5px;
            transition: border-color 0.3s;

            &:focus {
              border-color: #1a1a1a;
              outline: none;
              background-color: #f5f5f5;
            }
          }
        }

        .forgot-password {
          margin-top: 10px;

          .forgot-link {
            color: #0056b3;
            font-weight: 600;
            text-decoration: underline;
          }
        }

        .button-container {
          margin-top: 20px;

          .login-button {
            width: 100%;
            padding: 10px;
            background-color: #1236ad;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background-color: #1082ec;
            }
          }
        }
        .separator {
          font-size: 12px;
          color: #666666;
          text-align: center;
          margin: 20px 0;
        }

        .social-buttons {
          display: flex;
          gap: 20px; /* Espaçamento entre os botões */
          justify-content: center; /* Alinha os botões ao centro */
          padding: 20px;
        }

        .social-button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff; /* Cor de fundo dos botões */
          border: none; /* Remove a borda padrão */
          border-radius: 100%; /* Torna os botões circulares */
          padding: 10px;
          cursor: pointer;
          transition: transform 0.2s, box-shadow 0.2s;

          &:hover {
            transform: scale(1.1); /* Aumenta o botão ao passar o mouse */
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao botão */
          }
          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
